#window {
    background-color: #1A1B26;
    border: 2px solid #FF9E64;
}

#input {
    background-color: #24283B;
    color: #C0CAF5;
}

#list {
    background-color: #1A1B26;
}

element selected {
    background-color: #24283B;
    border-left: 3px solid #7DCFFF;
}
